/* CSS
Global Styles 
Author: Nash Interactive
Client: University of Maryland Asian American Studies Program
Created: 11-02-09
amunaun awuji iwanakala 2008
*/

/* Global Defaults
-------------------------------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,table,tr,th,td,embed,object{margin:0;padding:2;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img,abbr{border:0;}
address,caption,cite,code,dfn,em,h1,h2,h3,h4,h5,h6,strong,th,var{ font-style:normal; font-weight:normal;}
ul {list-style:none;} /* nav needs this - if you don't want it to be global, define it for nav */
caption,th {text-align:left;}
div { text-align: left; vertical-align: top; }
/* q:before,q:after{content:'';} */
/* a,ins{text-decoration:none;} */
strong { font-weight: bold; }
cite { display: block; font-size: 0.9em; font-style: italic; text-align: right; }

/* Global Elements
-------------------------------------------------------------- */
body {
	margin: 0;
	padding: 0;
	text-align: center; /* IE compatibility */
	line-height: 1.6em; 
	}

/* Library
-------------------------------------------------------------- */
.l { float: left; width: 32%; } 
.r { float: right; width: 65%; } 
.r:after { display: block; content: ''; clear: both; height: 0; visibility: hidden; }
.align-center { text-align: center; }
.align-right { text-align: right; }
.justify { text-align: justify; }
.float-left { float: left; }
.float-right { float: right; }
.clear-both { clear: both; float: none; }
.clear-right { clear: right; float: none; }
.hide {	display:none; }
/* .clear-both { clear: left; float: none; } */
.clear-left { clear: left; float: none; }
.inline { display: inline; }
.block { display: block; }
.noborder { border: 0px none; }
.bold { font-weight: bold; }
.italic { font-style: italic; }
.normal { font-weight: normal; }
.nomargin { margin: 0; }
.nopadding { padding: 0; }
.visible { display: block; }
.top4 { margin-top: 4px; }
.top6 { margin-top: 6px; }
.top10 { margin-top: 10px; }
.top16 { margin-top: 16px; }
.top20 { margin-top: 20px; }
.bot20 { margin-bottom: 20px; }
.left20 { margin-left: 20px; }
.ind { margin-left: 36px; }
.c666 { color: #666; }

/* Typographic Elements
-------------------------------------------------------------- */
h2, h4, h6, body { 
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; }
blockquote, em, i  { 
	font-family: Georgia, "Times New Roman", Times, serif; }
h1, h3, h5 { 
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; }
	
	
/* Default Headers
-------------------------------------------------------------- */
h1 { 
	font-size: 1.5em;
	font-weight: bold;
	color: #b60; 
	line-height: 1.1em;	
	padding: 10px 0px 0px 0px;
	}
	.module.r h1 { padding: 0; margin-top: 6px;  font-size: 1.5em; color: #807b65; letter-spacing: .02em; }
	#column2 h1 { padding: 0; margin-top: 18px; font-size: 1.4em; color: #0b4960; }
	
.doublemod h1 {
	font-weight: bold;
	color: #68b; /* 4c6da8 */
	line-height: 1.1em;
	font-size: 1.5em;
	padding: 10px 0px 0px 0px;
	}
	
h2 {
	font-size: 1.3em;
	color: #456;
	font-weight: bold;
	margin: 32px 0 0 0; 
	}
	#column2 h2 { margin-top: 16px; padding-top: 0; }
	h2 a:link, h2 a:visited { color: #456; text-decoration: none; }
		h2 a:hover { color: #ba3635; text-decoration: underline; }	
	
h3, .doublemod h3 {
	font-weight: bold;
	color: #4c6da8; 
	line-height: 1.2em;
	font-size: 1.2em;
	margin: 28px 0 0 0; /* 26 */
	}
	.doublemod h3 + p { margin-top: 10px; } /* applies only to first p after h3. Test across browsers */
	
	h3 a:link, h3 a:visited, h3 a:hover { color: #576; text-decoration: none; }
	h3 a:visited { color: #777; }
	h3 a:hover { color: #ac3433; }	
	
h4 { font-weight: bold; color: #126; }


/* Misc Typography
-------------------------------------------------------------- */
body { 
	font-size: 0.8em; /* was .75em */ 
	line-height: 1.4em; /* was 1.6em */
	color: #424242;
	}

table { 
	font-size: 1em; 
	line-height: 1.5em;
	color: #424242;
	}
	
i, em { font-style: italic; }

blockquote {
	clear:both;
	font-size:1.2em;
	line-height: 1.6;
	padding: 0px;
	color: #666;
	}

blockquote, blockquote p {
	clear: both;
	color: #666;
	}

.smallcaps {
	font: small-caps 1.5em/1.7em Georgia, "Times New Roman", Times, serif;
	color: #4c6da8;
	text-transform: lowercase;
	letter-spacing: .1em;
	}

.citation, .cite {
	font-size: 12px;
	}

div.vsm p, p.vsm, span.vsm { font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 0.88em;
	}
div.vsm p, p.vsm { line-height: 1.4em;
	}

	
/* Global Links
-------------------------------------------------------------- */
a {
	margin: 0px;
	padding: 0px;
	}

a:link,
a:visited,
a:active {
	background: transparent;
	color: #098bbd; /*#4c6da8; */
	text-decoration: underline;
	}
	
a:visited { color: #999; } /* 567 */

a:hover {
	background: transparent;
	color: #ba3635; /* ac3433*/	
	text-decoration: underline;
	}
			

/* List Elements
-------------------------------------------------------------- */
ul li {
	height: auto;
	margin: 0; padding: 0;
	list-style: none;
	}
	li a {
	padding-top: 0px;
	padding-bottom: 0px;
	}	
			
			
ul.bge, ul.bgetight {
	margin:19px 0 19px;
	padding:0;
	list-style-type:none;
	}
	ul.bge li, ul.bgetight li {
		background:url("./lib/i/icons/tri_bge.gif") no-repeat 20px 5px;
		margin: 0 20px 10px 0;
		padding:0 0 0px 38px;
		}
		ul.bgetight li { margin: 0 0 3px; 
		} 
		ul.bge a:link, ul.bge a:visited,
		ul.bgetight a:link, ul.bgetight a:visited { text-decoration: none; } 
		ul.bge a:hover, ul.bgetight a:hover { text-decoration: underline; 
		}
		/* contact page - for underlined links in bge */
		.bge a.line:link, .bge a.line:visited { text-decoration: underline; }
		.bge h4 { margin-bottom: 4px; }			
			
ul.num {
  margin:19px 0 19px;
  padding:0;
  list-style-type:none;
  }
ul li.num1, ul li.num2, ul li.num3, ul li.num4, ul li.num5, ul li.num6, ul li.num7, ul li.num8, ul li.num9 {
	background:url("./lib/i/icons/num1.gif") no-repeat 8px .1em;
	margin: 0 20px 10px 0;
	padding:0 0 9px 38px;
	}
	ul li.num2 { background:url("./lib/i/icons/num2.gif") no-repeat 8px .1em;}
	ul li.num3 { background:url("./lib/i/icons/num3.gif") no-repeat 8px .1em;}
	ul li.num4 { background:url("./lib/i/icons/num4.gif") no-repeat 8px .1em;}
	ul li.num5 { background:url("./lib/i/icons/num5.gif") no-repeat 8px .1em;}
	ul li.num6 { background:url("./lib/i/icons/num6.gif") no-repeat 8px .1em;}
	ul li.num7 { background:url("./lib/i/icons/num7.gif") no-repeat 8px .1em;} 
	ul li.num8 { background:url("./lib/i/icons/num8.gif") no-repeat 8px .1em;}
	ul li.num9 { background:url("./lib/i/icons/num9.gif") no-repeat 8px .1em;}	
	ul.num a:link, ul.num a:visited { text-decoration: none; }
	ul.num a:hover { text-decoration: underline; }
	
	
/* Grid
-------------------------------------------------------------- */
#house {
	margin: 0 auto 100px auto;
	text-align: left;
	/* re_aligns text to left second part of two part MSIE centering workaround */
	width: 962px; 	/* Total width - hcwh was 962 */
	/* moved to a new style (content-bg) because this site uses a tiled background
	background-color: #fff;
	background-image: url("http://www.globalhealthsafety.org/lib/i/layout/bg_house.gif"); */
	}
	
/* If you take out this seemingly superfluous div, tabbed navbar vanishes in Mozilla and Netscape */	
/* #top { padding-top: 8px; } */
#top { padding-top: 0px; }

	

#header,
#header2,
#content,
#bottom {
	width: 962px; 
	margin: 0 auto;
	position: relative;
	}
	
#header {
	height: 62px; /* was 202 */
	background: #fff url(http://dev4.nashinteractive.com/lib/i/layout/bnr_blue.jpg) no-repeat; 
	/* display: block;  use this only when the div contains an img, not for empty div with bg img applied */ 
	}
	#header div.logo { float: left; padding: 13px 0 0 29px; margin: 0; }
	
/* inside pages */
#header2 {
	height: 170px; 
	background: transparent url(http://www.noharm.org/lib/i/layout/bnr_inside_bg.gif) no-repeat; 
	/* display: block;  use this only when the div contains an img, not for empty div with bg img applied */ 
	vertical-align: middle; 
	}
	#header2 div#logo-sm { float: left; padding: 20px 0 0 25px; margin: 0; }
	#header2 div.bnr-text { float: left; padding: 23px 0 0 10px; margin: 0; }
	#header2 div.bnr-img { height: 130px; width: 780px; margin-top: 20px; margin-right: 29px; float: right; }
	
#content-bg {
	/* emi moved from house to here */
	background-color: #fff;
	background-image: url("./front_new_files/bg_house_test.jpg"); 
	}
	
#aast-logo { background: transparent url("./front_new_files/aast_logo.gif") no-repeat 768px bottom; } 

	

#content {	
	width: 962px; 
	margin: 0 auto;
	/* padding: 9px 0 0 0; */
	padding: .001em 0 0 0;
	/* for some reason the top padding can't be set to zero or gap appears */
	}
	 
#column1 {
	float: left;
	width: 722px;  /* 674 hcwh was 680 amunau was 690 */
	padding: 0px;
	margin: 0px;
	}
	
#column2 { 
	width: 210px;
  
	margin: 0 0 0 722px; 
	padding: 15px 16px 90px 14px;
	
	/*background-image:url('/Images/important1.gif'), url('/Images/minor1.jpg');
	  background-repeat: repeat, repeat;*/



	}		
	
	#column3 { 
	width: 210px;
	height:700px;
	margin: 0 0 0 722px; 
	padding: 15px 16px 90px 14px;
	/*background: #69C;*/
	/*background-image:url('http://www.ipad-wallpapers.us/bgs/simple-lights.jpg');*/
	



	}		
	
/* Emi: If needed, bring this back to see whether it fixes interrupted 
load issue following addthis widget. Note this also defined in msie7cc 
#column2_bot {
	background-image: url(http://www.mysite.com/images/bg_col2_bot.jpg);
	height:200px;
	} */

/* page bottom drop shadow set on div between content and bottom */
.bot-img {	/* background: #e3dfd8 url("http://www.noharm.org/lib/i/layout/bg_house_bot.gif") no-repeat; */
    background: #000;
	height: 8px;
	font-size: 4px;
	margin:0; padding:0; }	

.module.l  { 
	height: auto;
	width: 210px; 
	padding: 15px;  
	
	background-color: 
	}	
	.module.l p { margin-top: 18px; } 	

.module.r 	{ 
	height: auto;
	width: 432px; 
	padding: 15px 25px 20px 25px; 
	 
	}
	
	
	.module.r xmas 	{ 
	height: auto;
	width: 432px; 
	padding: 15px 25px 20px 25px; 
	 
	}
	
	
	
	
	.module.r p { margin-top: 18px; } 	
	
/* REMOVE IF NOT USED BEFORE LAUNCH 	
.doublemod  { padding: 0 0 40px 25px ; }
	.doublemod p { margin-top: 18px; } */	

/* #logo-print { display: none; } */


/* Navigation
-------------------------------------------------------------- */

#tabs { line-height: 2; /* was line-height 1 */
	/* z-index: 9998; probably needed only for drop-downs */
	}
#tabs a {
	background: url("http://www.noharm.org/lib/i/layout/navbar2_bg.gif") no-repeat 0 0;
	display: block;
	height: 30px; 
	}	
#tabs li { float: left; position: relative; }
* html #tabs li * { position: relative; }
#tabs li, #tabs ul { margin: 0; padding: 0; }

	/*--- Default ---*/
	#tab-usc a { background-position: 0 0; width: 423px; }
	#tab-eur a { background-position: -423px 0; width: 89px; }
	#tab-sea a { background-position: -512px 0; width: 141px; }
	#tab-esp a { background-position: -653px 0; width: 143px; }
	#tab-glo a { background-position: -796px 0; width: 165px; }
	
	/*--- Hovering ---*/
	#tab-usc a:hover { background-position: 0 -30px; width: 423px; }
	#tab-eur a:hover { background-position: -423px -30px; width: 89px; }
	#tab-sea a:hover { background-position: -512px -30px; width: 141px; }
	#tab-esp a:hover { background-position: -653px -30px; width: 143px; }
	#tab-glo a:hover { background-position: -796px -30px; width: 165px; }
	
	/*--- Clicking ---*/
	#tab-usc a:active { background-position: 0 -60px; width: 423px; }
	#tab-eur a:active { background-position: -423px -60px; width: 89px; }
	#tab-sea a:active { background-position: -512px -60px; width: 141px; }
	#tab-esp a:active { background-position: -653px -60px; width: 143px; }
	#tab-glo a:active { background-position: -796px -60px; width: 165px; }
	
	
/* Navigation : top black navbar
-------------------------------------------------------------- */
#navcontainer-one { background-color: #1b1b1b ;
	padding: 3px 20px 4px 10px; 
	}	
	ul#navbar-one {
	/* margin-left: 0;
	padding-left: 0; */
	text-align: right; 
	/* white-space: nowrap; */
	}
	#navbar-one li {
		display: inline;
		list-style-type: none;
		}
	#navbar-one a { 
		padding: 2px 13px 4px;
		font-family: Arial, Verdana, "Helvetica Neue", Helvetica, Geneva, sans-serif;
		font-size: .88em;
		color: #4197a6; /* font-weight: bold; */
		text-decoration: none;
		 letter-spacing: 1px;  
		}		
	#navbar-one a:hover {
		color: #fff; font-weight: normal;
		/* background-color: #3e3529; */
		text-decoration: none;
		}

/* Navigation : main red navbar
-------------------------------------------------------------- */	
#navcontainer { /* background: transparent url("http://www.noharm.org/lib/i/layout/navbar_brn_bg.gif") no-repeat 0 0;*/
background: #5a0000 url("./lib/i/layout/navbar_bg.gif") repeat-x 0 0;
	/* height: 26px; */
	/*padding: 7px 20px 9px 10px;*/ 
	}
	ul#navbar {
		/* margin-left: 0;
		padding-left: 0; */
		text-align: center; 
		/* white-space: nowrap; */
		}
	#navbar li {
		display: inline;
		list-style-type: none;
		}
	#navbar a { 
		padding: 2px 13px 4px;
		font-family: Arial, Verdana, "Helvetica Neue", Helvetica, Geneva, sans-serif;
		font-size: .95em;
		color: #fff; /* font-weight: bold; */
		text-decoration: none;
		/* letter-spacing: 1px; */ 
		}	
	#navbar a:hover {
	color: #fff; font-weight: normal;
	/* background-color: #3e3529; */
	text-decoration: none;
	}	

	/* if page class matches NAVBAR id, then link becomes */
	body.p-home #nav-home a { color: #cac7c1; background-color: transparent; text-decoration: none; cursor:text; }
	body.p-about #nav-about a, 
	body.p-newsletter #nav-newsletter a,  
	body.p-pressroom #nav-pressroom a,
	body.p-blog #nav-blog a,
	body.p-events #nav-events a,
	body.p-resources #nav-resources a,
	body.p-involved #nav-involved a,
	body.p-subscribe #nav-subscribe a,
	body.p-donate #nav-donate a,
	body.p-login #nav-login a,
	body.p-search #nav-search a
	{ color: #fff; text-decoration: none; cursor:text; }	
	

/* Navigation : mini-menus in module.l
-------------------------------------------------------------- */				
.modmenu { margin: 0; padding: 15px 18px 20px 18px; 
		background-color:#e0d3c2; 
		border: solid 1px #ba9;		
		font-family: Arial, "Helvetica Neue", Helvetica, Verdana, Geneva, sans-serif;
		font-size: 0.95em;
		font-weight: bold;
		line-height: 1.2em;
		}
	.modmenu ul {
		margin: 5px 0 0;
		padding:0;
		list-style-type:none;
		}
		.modmenu ul li {
			background:url("./lib/i/icons/tri_bge_alias.gif") no-repeat 4px .3em;
			margin: 0 0 3px;
			padding:0 0 0px 20px;
			}
			.modmenu ul a:link, .modmenu ul a:visited { color: #71706d; text-decoration: none; } /* #686765 */
			.modmenu ul a:hover { color: #000; text-decoration: underline; 
			}
			
	/* if page class matches col 2 menu list item id triangle icon turns red */
	body.p-about.welcome .modmenu ul li.m-welcome {
		background:url("./lib/i/icons/tri_red_alias.gif") no-repeat 4px .3em;
		} 
		/* and cursor does not show link */
		body.p-about.welcome .modmenu ul li.m-welcome a { 
			color: #234; text-decoration: none; cursor:text; }
			
	.crumbs, .crumbs-bot { font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 0.88em;
	margin-top: 11px;
	}
	.crumbs-bot { text-align:center; }
	.crumbs a:link, .crumbs a:visited,
	.crumbs-bot a:link, .crumbs-bot a:visited { text-decoration: none; color: #424242; }
		.crumbs a:hover, .crumbs-bot a:hover { text-decoration: underline; color: #ba3635; }	
		

/* Footer
-------------------------------------------------------------- */
/*.footer {
	vertical-align: bottom;
	height:225px;
	background: url(http://www.mysite.com/images/footer.jpg) no-repeat 0 bottom; }*/

.footer { padding-bottom: 20px; }	
.footer a { display: inline; white-space: nowrap; }

.footer ul {
   	margin: 0 auto;
   	padding: 0.5em 0;
   	text-align: center;
   	width: 85%; 
	}

.footer ul li {
	font-family: Verdana, Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	font-size: 0.88em;
	font-weight: normal;
	display: inline;
	padding: 0.5em;
	}	
	.siteby { text-align: center; 
		font-family: Verdana, Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
		font-size: 0.88em; 
		font-weight: normal;
		color: #0e313d;
		}	
	.footer li a:link, .footer li a:visited, .footer li a:hover,
	.siteby a:link, .siteby a:visited, .siteby a:hover { color: #2680a1; text-decoration: none; background-color: transparent; }
	.footer li a:visited, .siteby a:visited { color: #836d51; }
	.footer li a:hover, .siteby a:hover { color: #fff; /* background-color: #e58e1a;  text-decoration: underline; */ }			
	
/* if page class matches footer link id, then link becomes */
	body.p-home #f-home a,  
	body.p-about #f-about a, 
	body.p-newsletter #f-newsletter a,  
	body.p-pressroom #f-pressroom a,
	body.p-blog #f-blog a,
	body.p-events #f-events a,
	body.p-nurses #f-nurses a,
	body.p-resources #f-resources a,
	body.p-involved #f-involved a,
	body.p-subscribe #f-subscribe a,
	body.p-donate #f-donate a,
	body.p-login #f-login a,
	body.p-contact #f-contact a,
	body.p-privacy #f-privacy a,
	body.p-sitemap #f-sitemap a,
	body.p-credits #f-credits a
	{ color: #234; text-decoration: none; cursor:text; } 	
	
			
/* Blocks in columns - move lower down after this sheet is done
-------------------------------------------------------------- */				
#search-wrap  { float: right; margin: 20px 0 0px 0px; width: 360px; }  
	/* #search-wrap div.thisbox div { float: left; margin: 0; padding: 0; }  no-float wrapper div hack to fix left margin bug in left floats in ie */
	.inputwrap { text-align: right; float: right; }	
	/* .inputwrap { text-align: right; } */
	.inpsearch { float: right; margin: 0; padding: 0; }
	.inpsearch input { 
		font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 11px; font-weight: normal; color:#000;
		background-color:#fff; padding: 3px 5px 4px 5px; 
		border-style:solid; border-width:1px; border-color:#a4a2a3;
		width: 200px; /* rendered input box is width plus left and right border and padding */
		}
		
	.addthis-wrap { margin: 50px 0;}	
	
	
/* Images
-------------------------------------------------------------- */		
/* captionless images of any size */
.img-left { 
	float: left;
	margin: 0px 14px 16px 0px;
	}
	
.img-right { 
	float: right;
	margin: 0px 0px 16px 14px;
	}
	
.border999 img { border: solid 1px #999; background-color: #e0d3c2; }		
	
/* default size half-column floated img with cap */	
.module.l .box-left, .doublemod .box-left, .module.l .box-right, .doublemod .box-right { 
	width: 325px;
	float: left;
	margin: 24px 18px 0 0;
	}
	.module.l .box-right, .doublemod .box-right { 
	float: right;
	margin: 24px 10px 0 18px;
	}	
	.module.l .box-capbold, .doublemod .box-capbold { 
		/* font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; */
		/* font-size: 0.88em; */		
		font-weight: bold;
		color: #2c2c62;
		line-height: 1.2em;
		margin: 6px 0 12px 0;
		}	

/* thumbnail images 97px wide */	
.floatleft, .floatleft2 {
	float: left;
	width: 99px;
	padding: 4px 12px 9px 0;
	}
	.floatright, .floatright2 {
	float: right;
	width: 99px;
	padding: 4px 0 9px 12px;
	}
	/* for floats requiring 21px top margin, such as class="jumplist", for which P has margin-bottom:0  */
	.floatleft2, .floatright2 {	padding-top:21px; } 

/* thumbnail captions */	
.th-cap { 
		font-family: Arial, "Helvetica Neue", Verdana, Helvetica, Geneva, sans-serif; 
		font-size: 0.88em; 	
		font-weight: bold;
		color: #363435;
		line-height: 1.2em;
		margin: 4px 0 0 0;
		}
.sig { margin: 10px 0 10px 10px; }		

	
/* Home
-------------------------------------------------------------- */
body.p-home .l { float: left; width: 55%; } 
body.p-home .ll { float: left; width: 55%; } 
body.p-home .r { float: right; width:43%; } 

body.p-home .module.l  { 
	width: 396px; 
	padding: 15px 20px 20px 20px ;  
	}
	
	body.p-home .module.ll  { 
	width: 686px; 
	padding: 15px 20px 20px 20px ;  
	}
	
body.p-home .module.r 	{ 
	width: 285px; 
	/* padding: 0 0 20px 0 ; disabled to allow two background colors */
	padding: 0;
	}

body.p-home #content-bg {
	background-color: #fff;
	/*background-image: url("./front_new_files/bg_house_home.gif"); */
	background-image: url("./front_new_files/bg_house_test.jpg"); 
		
	}
	
.directory { background: #fff url("./front_new_files/directory.gif") no-repeat top left; 
	margin: 0;
	padding: 64px 17px 16px 17px;
	font-family: Verdana, Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
		font-size: .88em; 
		line-height: 1.3em; }
		
/* split beige column */
.submod-top, .submod-bot { padding: 13px 16px 17px 16px; }
	.submod-top { background: url("http://www.smarthp.com.au/images/fabric-roller-blinds/ppb-01-large.jpg");}
	.submod-bot { background: url("http://www.smarthp.com.au/images/fabric-roller-blinds/ppb-01-large.jpg");}

.submod-top h2, .submod-bot h2 { color: #3e3923; font-size: 1.1em; margin: 0; padding: 0; }
.submod-top p, .submod-bot p { font-family: Verdana, Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
		font-size: .88em; 
		line-height: 1.3em; margin: 12px 0 0; }
		
.prsum, .eventlist { font-family: Verdana, Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
		font-size: .88em; 
		line-height: 1.3em; }
		
.evdate { font-weight: bold; margin-top: 16px; }

	
/* Press Room
-------------------------------------------------------------- */	
/* home page news jumplist */
.newslinks	{ margin: 6px 0 16px;
	font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 0.8em;
	line-height: 1.4em;
	color: #aaa;
	text-align: center;
	}
	.newslinks a:link, .newslinks a:visited { color: #003; text-decoration:none; }
	.newslinks a:hover{ color: #ba3635; text-decoration: underline; 
	}
	/* body#s-splash .newslinks { text-align: left; } */
	body#s-all .newslinks { text-align: left; }


 body.p-news h3 { margin-top: 20px; }
 body.p-news .pritem h3 { margin-top: 0px; }
	
.pritem { margin-top: 12px; line-height: 1.4em;}
.pritem h3	{
	font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: .9em; line-height: 1.4em; }	
		h3 a:link, h3 a:visited, h3 a:hover { color: #597569; text-decoration: none; } /* was 517664 */
		h3 a:visited { color: #777; }
		h3 a:hover { color: #ac3433; }	
		
/* PR date in lists on Archive pages - Verdana */	
	.newslist .prdate { 
		font-weight: normal; color: #003; margin-top:0px; margin-bottom:8px;
		font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		font-size: 0.88em; line-height: 1.4em; 
	 	}

	.newslist h1 { margin-bottom: 0; }
		.newslist h1 a:link, .newslist h1 a:visited { color: #b60; text-decoration: none;	}
		.newslist h1 a:hover { color: #ba3635; text-decoration: underline; }
			
	.newslist h3 { 
		padding-top:0px; padding-bottom:4px;
		margin-top:0; margin-bottom:0;
		}		
		
	/* PR Date on Press Release page - Arial */		
	.prdate { font-weight: bold; color: #b60; margin-top:18px; }		

	/* more links */
	.more, a.more:link, a.more:visited, a.more:hover { 
		font-family: Georgia, Verdana, "Times New Roman", Times, serif; font-size: 0.88em; font-weight:bold; color: #7eafc0; /* #098bbd; #69aa33; */
		margin:0 1px 0 0; text-decoration:underline; }
		a.more:hover { color:#5e88d3; }
		/* link to offsite news articles */
		.readtext a.more:link, .readtext a.more:visited { text-decoration:none; }	
		.readtext a.more:hover { text-decoration:underline; }		
		.guillemot { color: #689b3e; }	
		
	.view-all {
		font-size: .8em;
		text-transform: uppercase;
		color: #363636;
		font-weight: bold;
		margin-right: 20px;
		text-align: right;
		}
		.view-all a:link, .view-all a:visited { color: #424242; text-decoration: none; } 
			.view-all a:hover { color: #ba3635; text-decoration: underline; }
			
	.quotebox, .quoteboxleft {
		float: right;
		width: 160px;
		margin: 0.45em 0 1em 18px; 
		padding: 14px 16px 16px 16px;
		background-color:#ffc;
		border: solid 1px #f9e470;
		font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		font-size: 0.88em;
	 	line-height: 1.4em;
		}
		.quoteboxleft { float: left; margin: 0.4em 18px 1em 0; 	}
		.quotebox p, .quoteboxleft p { margin: 0; line-height: 1.5em; }
		
	/* attribution immediately below quote - used by Atomz */		
	div.attrib { 
		text-align: right;
		margin-top: 10px; margin-bottom: 0px;
		padding:0;
		text-decoration:none;
		}
	
	/* used by Atomz */	
	.immed, .subtitle, .source { font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		font-size: 0.88em;
		line-height: 1.4em;
		}
 		.subtitle { margin-top: 8px; }
		.source { margin-top: 10px; margin-bottom: 22px; }
		
		.source a:link, .source a:visited { color: #4c6da8; text-decoration: none; }
		.source a:hover { color: #ba3635; text-decoration: underline; }
		
	.readimg { margin-right: 70px; float: right; }
	.readtext { margin-top: 25px; text-align: right; margin-right: 130px; }
	.readnote { clear: both; margin-top: 35px; }

	.separator {
		margin-top:13px; margin-bottom:3px;
		background: url(./lib/i/shared/bg_dots_thin.gif) repeat-x left bottom;
		clear:both;	}

/* Browser-specific styles
-------------------------------------------------------------- */
/*\*//*/
  @import "ie5mac.css";
/**/
#sddm
{	margin: 0;
	padding: 0;
	z-index: 80}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px arial}

#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	width: 60px;
	background: #5970B2;
	color: #FFF;
	text-align: center;
	text-decoration: none}

#sddm li a:hover
{	background: #49A3FF}

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
	border: 1px solid #5970B2}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #EAEBD8;
		color: #2875DE;
		font: 11px arial}

	#sddm div a:hover
	{	background: #49A3FF;
		color: #FFF}
