*{margin:0; padding:0; border:none;position:relative;-moz-font-feature-settings: "liga=0";}
body, div, span, h1, h2, h3, h4, h5, h6, ul, li, form, fieldset{margin: auto; text-align: justify;color:#626262;color:#333}
h1, h2, h3, h4, h5, h6{font-family: Helvetica, Arial, sans-serif;display:block;}
h2{font-size: 1.5em; margin: .75em 0; font-family:Helvetica;}
h4{font-size:1.0em;line-height:1.2em;}
h4 a{font-size:12px;line-height:12px;}
p{font-family:arial, helvetica, sans-serif; font-size:14px; line-height:21px;color:#626262;}
a:link, a:visited, a:hover, a:active{text-decoration: none; color:#dd651a;font-family: helvetica, arial, sans-serif;color:#3B5998}
a:hover{text-decoration: underline}
a img{border: none;}

.justified{ text-align: justify; }
.clear-both {clear: both;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.floatLeft{float:left;}
.floatRight{float: right;}

table{border-spacing:0px;padding-left:5px;}
table td{padding-bottom: 4px;padding-right:10px;}/*vertical-align:baseline;}*/
table td h4{font-family: Arial, Helvetica, sans-serif;}

.section-title{font-family: helvetica, arial, sans-serif;font-size:14px;text-align: left;line-height: 20px;}
.section-title a{font-family: helvetica, arial, sans-serif;font-size:14px;text-align: left;line-height: 20px;}
.section-text{text-align: justify; padding-top: 5px;color:#626262;}
.section-image{text-align: center;vertical-align: top;}



.rounded{-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; -khtml-border-radius:3px; -o-border-radius:3px; }

.rounded-bottom{border-bottom-right-radius:4px;border-bottom-left-radius:4px}
.rounded-top{border-top-left-radius:4px;border-top-right-radius:4px}

.box-shadow{-moz-box-shadow: 2px 0px 2px rgba(144,144,144,0.5);	-webkit-box-shadow: 2px 0px 2px rgba(144,144,144,0.5); box-shadow: 2px 0px 2px rgba(144,144,144,0.5);}
.box-shadow-wide{-moz-box-shadow: 2px 2px 5px rgba(144,144,144,0.5); -webkit-box-shadow: 2px 2px 5px rgba(144,144,144,0.5); box-shadow: 2px 2px 5px rgba(144,144,144,0.5);}
.side-box-shadow{-moz-box-shadow: 2px 0px 4px rgba(200,200,200,0.7); -webkit-box-shadow: 2px 0px 4px rgba(200,200,200,0.7);	box-shadow: 2px 0px 4px rgba(200,200,200,0.7);}
.inner-box-shadow{-moz-box-shadow:inset 0 0 2px #666666; -webkit-box-shadow:inset 0 0 2px #666666;	box-shadow:inset 0 0 2px #666666;}
.shadow{box-shadow: 0px 1px 3px rgba(0,0,0,0.3);}

.section-header{
    text-transform:uppercase;
    line-height: 27px;    
	text-shadow: 0px 1px 3px rgba(0,0,0,0.3);
    text-align: justify;
    padding: 3px;
    padding-left: 10px;
    font-size: 18px;
	font-weight: normal;
	font-family: Helvetica, Arial, Clean, Sans-serif;
	font-family:'MuseoSans500';
}
.section-header strong{font-weight: bolder;}
.section-header-black{background: #000000 url(images/ui-bg_highlight-soft_15_000000_1x100.png) 50% 50% repeat-x;color: #fefefe;}
.section-header-red{background: #990000 url(images/ui-bg_highlight-soft_15_880000_1x100.png) 50% 50% repeat-x;color: #fefefe}
.section-header-gold{background: #ffc240 url(images/ui-bg_highlight-soft_30_ffc240_1x100.png) 50% 50% repeat-x; color: #333333;}
.section-header-blue{background: #1d4f67 url(images/ui-bg_highlight-soft_30_1d4f67_1x100.png) 50% 50% repeat-x; color: #e1ebf5;}
.section-header-black{background:none; color: #000;border:1px solid #c2c2c2;border:none;}
.section-header-blue{background: none; color: #1d4f67; border:1px solid #c2c2c2;border:none;}
.section-header-red{background: none; color:#990000;border:1px solid #c2c2c2;border:none;}
.section-header-gold{background: none; color: #ffc240; border:1px solid #c2c2c2;border:none;}


.section-content{
	font-family: arial,helvetica,clean,sans-serif;
    font-size: 12px;
    line-height: 21px;
    padding: 5px;
	padding-top:none;
	border:1px solid #c2c2c2;
	border: none;
}


.individual-content{
    padding: 3px;
	/*background-color:#f5f6f7;
	/*background: #fefefe url(images/ui-bg_fine-grain_25_fefefe_60x60.png) repeat-x repeat-y;*/
}

#aast{width: 962px; display: block;}
#aast-banner{ text-align: center; margin: auto;height:88px;}
#aast-banner img{border-top-left-radius: 3px; border-top-right-radius: 3px; -o-border-top-left-radius: 3px;-o-border-top-right-radius: 3px;}

#content{background-color: rgb(255,255,255); 
/*background-image: url('images/ui-bg_fine-grain_15_fefefe_60x60.png');z-index:-1;
*/background-color:#f5f6f7;
background-color:#fdfeff;
padding-bottom:10px;
min-height:500px;
}





/*** Content - left ***/
#content-left{
    width: 469px;
	margin-left:0px;
    float:left;
    font-family: Arial,Helvetica,Tahoma;
    text-align: justify;
    color: #333;
	/*background: #fefefe url(images/ui-bg_fine-grain_25_fefefe_60x60.png) 50% 50% repeat-x repeat-y;
	*/
}
#content-right{
    width: 475px;
	margin-right:0px;
    float: right;
    display: block;
}


table#hot-topics{}
table#hot-topics td{padding-top: 10px;}
table#hot-topics .highlight-title a{font-family: helvetica, arial, sans-serif;font-size:14px;text-align: left;line-height: 20px;}
table#hot-topics .highlight-content{text-align: justify; padding-top: 5px;}
table#hot-topics .highlight-image{text-align: center;vertical-align: top;}




/*** Content - right ***/


#innerRight{
    margin: 5px;
    display: block;
}

#footer{
width:962px;
padding:10px 0;
height:55px;
background-image: url('images/ui-bg_fine-grain_50_666666_60x60.png');
z-index:2;
background-color: #666;
color:#efefef;
margin-bottom:20px;
position:relative;
font-size:13px;
font-family:Helvetica, Arial;
}
#footer p{color:#efefef;}
.footerText{font-size:11px;font-family:Helvetica, Arial;color:#f5f6f7}
#footerLogo{width:100px;text-align:center;}
#leftFooter{widht:350px;float:left;text-align:left;margin-left:20px}
#rightFooter{widht:350px;float:right;text-align:right;margin-right:20px}



.innerBox{
    border: 1px solid #880000;
    text-align:center;
    padding:2px;
    float: none;
}

#follow{ 
    margin-bottom: 10px;     
}

#socialIcons
{
    float: left;
    margin-top: 10px;  
    margin-bottom: 10px;
}

#socialIcons img{
    margin: auto;
    margin-right: 10px;
    display: inline;
}

#subscribe-via-email{
    float: left;
}

#about-front{width: 50%;float: left;}
#office-address{width: 50%;float: right;}
#minor-front{width: 50%;float: left;}
#scholarship-front{width: 50%;float: right;}


#events-calendar{height:210px; overflow:visible;width:300px;}
#events{margin-right:5px;width:300px;float:left;position:relative;}
#subscribe-min{margin-right:5px; width:150px;float:right;position:relative}
#aastAds{margin-right:20px;float:right;position:relative}
#spotlight{margin:5px;margin-top:15px;float:left;position:relative}

#more-link{
	position: relative;
	bottom: -7px;
	right: -250px;
}

table#events-table td{line-height:16px;padding-top:-3px;}

.event-title{vertical-align: top;padding-top:3px;}

.event-title a {
padding-bottom: 2px;
font-family: Helvetica, Arial, sans-serif;
font-size:1.0em;
line-height:1.2em;
font-weight:bold;

    font-family: helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
	font-weight: normal;


}

table#events-table td .event-date{border:1px dashed #929292;}
table#events-table td .event-day{font-weight:bold; font-size:1.2em; color:#363636; width:40px; padding-top:4px; text-align:center;}
table#events-table td .event-month{ font-size:0.9em; color: #4c4c4c; width: 40px; padding-bottom: 3px; text-align:center;}

.content-image img{float: left;margin-right: 20px;margin-bottom: 5px;}

.images img{
	border: 2px solid #FFFFFF;margin-bottom:5px;
    display: block;
    z-index:10;
    clear:both;
}


	/* Newsletter */
#newsletter { list-style: none; background: #fff; border: 1px solid #AFAEAE; margin: 5px 0 15px 0; padding: 15px 0 0; width:310px;}

.social { margin: 5px; list-style: none; height: 65px; padding: 0; border-bottom: 0 solid #AFAEAE; margin-left:15px}
.social li { text-align: left; float: left; width: 50px; margin-right: 7px; text-align: center; }
.social li.last { margin-right: 0; }
.social li a { opacity: 0.75; filter: alpha(opacity=75); font-size: 11px; color: #666; padding-top: 42px; line-height: 34px; }
.social li a:hover { opacity: 1.0; filter: alpha(opacity=100); color: #444; text-decoration: none; }
.social .social-feed { display: block; background: url(../media/images/social/rss2.png) no-repeat; }
.social .social-twitter { display: block; background: url(../media/images/social/twitter.png) no-repeat; }
.social .social-facebook { display: block; background: url(../media/images/social/facebook.png) no-repeat; }

.breadCrumbs{height:15px; font-size:11px; padding-top:3px;}

.left-module{float:left;width:220px;padding:18px;padding-top:30px;line-heigt:21px;background-color:#E6F1F6; display:block;min-height:500px;z-index:1;position:relative;}

.left-module h2{font-family: helvetica, arial, sans-serif; font-size: 32px; line-height:40px;}
.left-module ul{list-style: none;}

.right-module{margin:10px;padding:10px;padding-top:0;background: url(media/images/commons/content_bg2.gif repeat-x);
/*border: 1px solid #cecece;*/
float:right;width:660px;

}

.centered{text-align:center}
.side-menu-title{text-align:center;font-size:24px;line-height:33px;font-family:Helvetica,Arial,sans-serif;padding-top:3px;padding-bottom:3px;color:#efefef;background-color:#404039;}
.side-menu-items{ text-align:left; font-size:16px;line-height:21px;font-family: Arial,Helvetica, sans-serif; margin-top:15px;}
.side-menu-items a:hover{color: #999999}
.active-side-menu a{text-decoration:none;color:#999999}








